<!doctype html>
<html class="no-js" lang="">
	<head>
		<include('./includes/head-content.marko', data) />
	</head>
	<body>
		<!-- Express app renders `/pages/{page}.marko` files, each page gets injected here via nested attributes -->
		<include(input.page)/>

		<!-- Body bottom content (js runtime, js scripts, service worker, analytics, etc.)
		<include('./includes/body-bottom-content.marko', data) />

		<if(data.isProd === false)>
		<include('./includes/browser-sync.marko', data.browserSync) />
		</if>
		<!-- Built with love using RaduM's ES6 Web app boilerplate -->
	</body>
</html>
