# Browsers that we support

# # Safe bet but will bundle more
# # http://browserl.ist/?q=%3E+1%25%2C+Last+2+versions%2C+not+IE+%3C+11
# > 1%
# Last 2 versions
# Firefox ESR
# not IE < 11

# # The last two versions of each browser, excluding versions
# # that don't support <script type="module">.
# # http://browserl.ist/?q=last+2+Chrome+versions%2C+not+Chrome+%3C+60%2C+last+2+Safari+versions%2C+not+Safari+%3C+10.1%2C+last+2+iOS+versions%2C+not+iOS+%3C+10.3%2C+last+2+Firefox+versions%2C+not+Firefox+%3C+54%2C+last+2+Edge+versions%2C+not+Edge+%3C+15
# last 2 Chrome versions
# not Chrome < 60
# last 2 Safari versions
# not Safari < 10.1
# last 2 iOS versions
# not iOS < 10.3
# last 2 Firefox versions
# not Firefox < 54
# last 2 Edge versions
# not Edge < 15

# Best option to use IMHO
# http://browserl.ist/?q=last+2+Chrome+versions%2C+last+2+Safari+versions%2C+last+2+iOS+versions%2C+last+2+Firefox+versions%2C+last+2+Edge+versions
last 2 Chrome versions
last 2 Safari versions
last 2 iOS versions
last 2 Firefox versions
last 2 Edge versions
