.git
.cache
.eslintcache
.github
.vscode
.webpack-monitor
.hg
.svn
.DS_Store
build
docs
extra
node_modules
.gitignore
.dockerignore
README.md
Dockerfile*
docker-compose*
npm-debug.log

.env.local
.env.*.local
