# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

node_modules
npm-debug.log

build
build-tmp
dist
.webpack-monitor
.tmp
.sass-cache
.esm-cache
.cache

coverage
.nyc_output

.vscode
