:root {
	@each $size in map-keys($l-grid-columns) {
		--l-grid-margin-#{$size}: #{map-get($l-grid-default-margin, $size)};
		--l-grid-gutter-#{$size}: #{map-get($l-grid-default-gutter, $size)};
		--l-grid-column-width-#{$size}: #{map-get($l-grid-column-width, $size)};
	}
}

.l-grid {
	@each $size in map-keys($l-grid-columns) {
		@include l-grid-media-query_($size) {
			$margin: map-get($l-grid-default-margin, $size);

			@include l-grid($size, $margin, $l-grid-max-width);
		}
	}
}

.l-grid__inner {
	@each $size in map-keys($l-grid-columns) {
		@include l-grid-media-query_($size) {
			$margin: map-get($l-grid-default-margin, $size);
			$gutter: map-get($l-grid-default-gutter, $size);

			@include l-grid-inner($size, $margin, $gutter);
		}
	}
}

.l-grid__cell {
	// select the upper breakpoint
	$upper-breakpoint: nth(map-keys($l-grid-columns), 1);

	@each $size in map-keys($l-grid-columns) {
		@include l-grid-media-query_($size) {
			$gutter: map-get($l-grid-default-gutter, $size);

			@include l-grid-cell($size, $l-grid-default-column-span, $gutter);

			@for $span from 1 through map-get($l-grid-columns, $upper-breakpoint) {
				// Span classes.
				// stylelint-disable max-nesting-depth
				@at-root .l-grid__cell--span-#{$span},
					.l-grid__cell--span-#{$span}-#{$size} {
					@include l-grid-cell-span_($size, $span, $gutter);
				}
				// stylelint-enable max-nesting-depth
			}
		}
	}

	// Order override classes.
	@for $i from 1 through map-get($l-grid-columns, $upper-breakpoint) {
		&--order-#{$i} {
			@include l-grid-cell-order($i);
		}
	}

	// Alignment classes.
	&--align-top {
		@include l-grid-cell-align(top);
	}

	&--align-middle {
		@include l-grid-cell-align(middle);
	}

	&--align-bottom {
		@include l-grid-cell-align(bottom);
	}
}

.l-grid--fixed-column-width {
	@each $size in map-keys($l-grid-columns) {
		@include l-grid-media-query_($size) {
			$margin: map-get($l-grid-default-margin, $size);
			$gutter: map-get($l-grid-default-gutter, $size);
			$column-width: map-get($l-grid-column-width, $size);

			@include l-grid-fixed-column-width($size, $margin, $gutter, $column-width);
		}
	}
}

.l-grid--align-left {
	margin-right: auto;
	margin-left: 0;
}

.l-grid--align-right {
	margin-right: 0;
	margin-left: auto;
}
