<!-- TODO: Get the port from the config file or something -->
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='{PROTOCOL}//{HOST}:{PORT}/browser-sync/browser-sync-client.js?v=2.18.13'><\/script>"
		.replace('{HOST}', location.hostname)
		.replace('{PROTOCOL}', location.protocol)
		.replace('{PORT}', 3001));
//]]></script>
