extends ../layouts/_app-shell

block p-page-content
	<main id="app">
		<header>
			articles | tutorials | tweets | code snippets
		</header>
		<section class="c-posts">
			<span>Loading...</span>
		</section>
	</main>
