<include('../app.marko', data.app)>
<@page>

	<include('../layouts/_app-shell.marko')>
	<@body>

	<main id="app">
		<header>
			articles | tutorials | tweets | code snippets
		</header>
		<section class="c-posts">
			Loading...
		</section>
	</main>

	</@body>
	</include>

</@page>
</include>
